<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>190184031166-5mr6ku2h5mltuqvfeug5gt9v98a6lfrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190184031166-5mr6ku2h5mltuqvfeug5gt9v98a6lfrk</string>
	<key>API_KEY</key>
	<string>AIzaSyAjUxlvkIj5VyLScM_R0HDca0wYPTJA9-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>190184031166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beginning.Social</string>
	<key>PROJECT_ID</key>
	<string>social-515a6</string>
	<key>STORAGE_BUCKET</key>
	<string>social-515a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:190184031166:ios:98e67bbc7ce2ef3c</string>
	<key>DATABASE_URL</key>
	<string>https://social-515a6.firebaseio.com</string>
</dict>
</plist>